version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: smartagenda_backend
    ports:
      - "8001:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    restart: always
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
