name: Build Android APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.22.2'

      - name: Get Dependencies
        working-directory: ./mobile
        run: flutter pub get

      - name: Build APK (Debug)
        working-directory: ./mobile
        run: |
          cd android
          chmod +x gradlew
          cd ..
          flutter build apk --debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: mobile/build/app/outputs/flutter-apk/app-debug.apk
